<h1><%= @species.name %></h1>

<a href="/species/<%= @species.id %>/sightings/show">View Sightings</a>


<p><a href="/species/<%= @species.id %>/sightings/new">Add a Sighting</a></p>
<p><a href="/species/<%= @species.id %>/edit">Edit</a></p>
<p><a href="/species/<%= @species.id %>"
  data-confirm="You sure?"
  data-method="delete"
  rel="nofollow">Delete</a></p>

<button><a href="/">Go Back</a></button>
